<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dz10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,178},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{54,54}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>dz10_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,66},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{58,58}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>dz10_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,114},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{62,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>dz11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,182},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{54,54}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>dz11_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,418},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{58,58}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>dz11_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{62,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>dz12_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,182},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{54,54}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>dz12_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,358},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{58,58}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>dz12_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{62,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>dz13_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,178},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{54,54}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>dz13_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,298},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{58,58}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>dz13_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{62,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>dz14_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,122},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{54,54}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>dz14_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,238},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{58,58}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>dz14_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{62,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>dz15_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,122},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{54,54}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>dz15_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,66},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{58,58}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>dz15_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{62,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>dz1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>dz1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>dz1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>dz2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,126},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{54,54}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>dz2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,178},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{58,58}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>dz2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{62,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>dz3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,126},{54,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{54,54}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>dz3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,418},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{58,58}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>dz3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{62,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>dz4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,122},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{54,54}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>dz4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,358},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{58,58}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>dz4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{62,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>dz5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,66},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{54,54}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>dz5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,298},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{58,58}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>dz5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{62,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>dz6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,66},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{54,54}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>dz6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,238},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{58,58}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>dz6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{62,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>dz7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,66},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{54,54}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>dz7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,178},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{58,58}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>dz7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{62,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>dz8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,58},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{54,54}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>dz8_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,450},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{58,58}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>dz8_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{62,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>dz9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{54,54}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>dz9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{58,58}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>dz9_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{62,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dz.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:853fe65c67ca4f7757bf594f6bfb29e8$</string>
            <key>textureFileName</key>
            <string>dz.png</string>
        </dict>
    </dict>
</plist>
