<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pt10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{28,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,7},{28,56}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>pt10_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,140},{32,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,5},{32,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>pt10_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,56},{34,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,2},{34,66}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>pt11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,144},{60,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{60,54}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>pt11_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,36},{66,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{66,56}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>pt11_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{70,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>pt12_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,248},{26,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,7},{26,56}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>pt12_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,94},{28,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,5},{28,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>pt12_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{32,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,1},{32,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>pt13_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,228},{40,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,9},{40,52}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>pt13_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,176},{42,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{42,58}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>pt13_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{48,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{48,64}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>pt14_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,194},{32,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,6},{32,58}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>pt14_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,140},{34,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,5},{34,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>pt14_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,48},{38,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,2},{38,66}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>pt15_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,220},{46,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,9},{46,52}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>pt15_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,198},{50,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{50,56}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>pt15_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,140},{56,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{56,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>pt1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,92},{50,64}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,4},{50,64}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>pt1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{48,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,4},{48,64}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>pt1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,88},{50,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{50,64}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>pt2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{46,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{46,46}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>pt2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{52,52}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>pt2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,174},{58,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{58,56}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>pt3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,94},{60,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,13},{60,44}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>pt3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,94},{62,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{62,46}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>pt3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{70,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{70,52}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>pt4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,200},{56,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{56,46}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>pt4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{60,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{60,48}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>pt4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{64,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{64,54}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>pt5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,276},{30,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,10},{30,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>pt5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,96},{38,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,4},{38,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>pt5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{42,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,1},{42,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>pt6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,214},{40,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,8},{40,54}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>pt6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,142},{42,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{42,58}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>pt6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,46},{48,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{48,66}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>pt7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,250},{32,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,9},{32,52}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>pt7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,186},{32,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,6},{32,58}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>pt7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,64},{34,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,3},{34,64}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>pt8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,156},{36,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{36,56}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>pt8_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,136},{60,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{60,56}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>pt8_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{66,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{66,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>pt9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,100},{38,60}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,4},{38,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>pt9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,52},{40,64}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,2},{40,64}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>pt9_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{44,68}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{44,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ta.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3304b97abbe03479b53b19fc65b26196$</string>
            <key>textureFileName</key>
            <string>ta.png</string>
        </dict>
    </dict>
</plist>
