<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Enemy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{62,64}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{62,64}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Enemy10.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{50,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{50,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Enemy11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{60,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{60,56}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Enemy12.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,180},{56,52}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{56,52}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Enemy13.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,162},{58,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,13},{58,44}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Enemy14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{70,46}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Enemy15.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,104},{56,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{56,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Enemy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,66},{50,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{50,52}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Enemy3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{48,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{48,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Enemy4.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,56},{62,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{62,46}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Enemy5.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{52,62}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{52,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Enemy6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{54,62}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{54,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Enemy7.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,126},{52,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{52,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Enemy8.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,66},{58,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{58,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Enemy9.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,120},{56,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{56,58}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>enemy.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f6493f255c88ef55fbdb673d8f2ea47$</string>
            <key>textureFileName</key>
            <string>enemy.png</string>
        </dict>
    </dict>
</plist>
