<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>damo.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,260},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{116,192}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{116,192}}</string>
                <key>sourceSize</key>
                <string>{128,192}</string>
            </dict>
            <key>honglan.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,194},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>honglv.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,68},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>hua.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,68},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>huangci.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,192}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{120,192}}</string>
                <key>sourceSize</key>
                <string>{128,192}</string>
            </dict>
            <key>huanggan.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,196},{102,192}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{102,192}}</string>
                <key>sourceSize</key>
                <string>{128,192}</string>
            </dict>
            <key>huigan.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{94,178}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{94,178}}</string>
                <key>sourceSize</key>
                <string>{128,192}</string>
            </dict>
            <key>lanjuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{64,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,128}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>lvjuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{110,192}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,192}}</string>
                <key>sourceSize</key>
                <string>{128,192}</string>
            </dict>
            <key>quan.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{96,128}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{96,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xiaocao.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,132},{64,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{64,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>xiaomo.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{46,48}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,15},{46,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>zhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,390},{100,64}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{100,64}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jam.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40240e0c35143e0d4c5e165fa29cd17c$</string>
            <key>textureFileName</key>
            <string>jam.png</string>
        </dict>
    </dict>
</plist>
