<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bacao.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,360},{60,58}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{60,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>box.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,126},{64,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{64,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>gaoxrz.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{58,122}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{58,122}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>gu.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,460},{46,48}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,14},{46,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>h.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,124},{62,82}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,26},{62,82}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
            <key>huaxrz.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,360},{94,98}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,25},{94,98}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>jiancao.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,422},{54,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{54,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>maozixrz.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,188},{102,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{102,104}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>qianshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{86,128}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{86,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>qianshugan.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,372},{86,124}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{86,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>shenshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{127,182}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{127,182}}</string>
                <key>sourceSize</key>
                <string>{127,192}</string>
            </dict>
            <key>shenshugan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,184}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{108,184}}</string>
                <key>sourceSize</key>
                <string>{128,192}</string>
            </dict>
            <key>twoxrz.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{120,102}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{120,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>xiaoxrz.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,460},{56,46}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{56,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>yuanxrz.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,294},{60,64}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{60,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>z.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,294},{64,96}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,23},{64,96}}</string>
                <key>sourceSize</key>
                <string>{64,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jam.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aefd515f00216daf329440f06c836496$</string>
            <key>textureFileName</key>
            <string>jam.png</string>
        </dict>
    </dict>
</plist>
